<article><section><img class="photo" [src]="housingLocation?.photo"></section>
  <h1>{{housingLocation?.id}}</h1>
  <section>
    <h2 class="section-heading">Apply to live here</h2>
    <form [formGroup]="applyForm" (submit)="submitApplication()" >
        <label for ="first-name">First name</label>
        <input id="first-name" type="text" formControlName="firstname">
      <label for ="last-name">First name</label>
      <input id="last-name" type="text" formControlName="lastname">
      <button type="submit" class="primary">Apply Now</button>
    </form>
  </section>
</article>
